.navbar {
    background-color: #09a4d8;  
    color: #edf0f1;  
    border-bottom: solid;
    width: 100%;
    text-align: center;
}

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 120px;
    /* width: 100%; */
    /* text-align: center; */
}

.btn {
    background-color: white;
    position: relative; 
}

#searchForCity {
    text-align: left;
}


